@model MvcVideoclubNC.Models.Pelicula

@{
    ViewData["Title"] = "DetailsPelicula";
}

<h1>@Model.Titulo</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
            <img src="@ViewData["BLOB"]" class="posterpelicula">
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
            <dd class="col-sm-12" style="font-style:italic">
                @Html.DisplayFor(model => model.Argumento)
            </dd>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaEstreno)
            </div>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaEstreno)
            </dd>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Actores)
            </div>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Actores)
            </dd>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Director)
            </div>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Director)
            </dd>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Duracion)
            </div>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Duracion)
            </dd>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </div>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dd class="col-sm-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Youtube"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </dd>
        </div>
        
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
